[user]
	email = alecks.phillips@gmail.com
	name = Al Phillips
[credential]
	helper = cache --timeout=3600
[core]
	editor = nano

[url "https://aur.archlinux.org/"]
	insteadOf = aur:

[url "aur@aur.archlinux.org:"]
        pushInsteadOf = "aur:"
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
